/* ウインドウ幅が最大479pxまでの場合に適用(スマホ用) */
@media screen and (max-width: 479px) {

    .header {
        width: 200px;
    }

    .header-inner {
        display: block;
    }

    .main {
        display: block;
    }

    .main-left {
        width: 200px;
    }

    .main-right {
        width: 200px;
    }

    .mr-inner-1 {
        margin: 20px auto 5% 30px;   
    }
    
    .mr-inner-2 {
        margin: 5% 30px;
    }
    
    .mr-inner-3 {
        margin: 5% auto auto 30px;
    }

    .footer {
        width: 200px;
    }

}