/* ウインドウ幅が最大479pxまでの場合に適用(スマホ用) */
@media screen and (max-width: 479px) {

    .header {
        width: 200px;
        height: 200px;
    }

    .header-inner {
        width: 60px;
        height: 160px;
        position: relative;
        top: 20px; left: 70px;
        display: block;
    }

    .header-inner-1 {
        position: relative;
        top: 10px; left: 0px;
        margin: 10px;
    }
    
    .header-inner-2 {
        position: relative;
        top: 10px; left: 0px;
        margin: 10px;
    }
    
    .header-inner-3 {
        position: relative;
        top: 10px; left: 0px;
        margin: 10px;
    }
    

    .main {
        display: block;
    }

    .main-left {
        width: 200px;
    }

    .main-right {
        width: 200px;
    }

    .mr-inner-1 {
        position: relative;
        top: 20px; left: 0px;
        margin: 20px 30px;   
    }
    
    .mr-inner-2 {
        position: relative;
        top: 20px; left: 0px;
        margin: 20px 30px;
    }
    
    .mr-inner-3 {
        position: relative;
        top: 20px; left: 0px;
        margin: 20px 30px;
    }

    .footer {
        width: 200px;
    }

}