.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.header-inner {
    position: relative;
    top: 20px; left: 220px;
    width: 160px;
    height: 60px;
    background-color: white;
    display: flex;
}

.header-inner-1 {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
}

.header-inner-2 {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
}

.header-inner-3 {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
}

.main {
    display: flex;
}

.main-left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.main-right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
}

.mr-inner-1 {
    border: 5px solid white;
    margin: 40px 60px 5% 40px;
    width: 140px;
    height: 40px;
    background-color: #ff863f;
}

.mr-inner-2 {
    border: 5px solid white;
    margin: 5% 40px;
    width: 140px;
    height: 40px;
    background-color: #ff863f;
}

.mr-inner-3 {
    border: 5px solid white;
    margin: 5% 60px 40px 40px;
    width: 140px;
    height: 40px;
    background-color: #ff863f;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}